.cart-item-wrap {
    display: flex;
    border: none;
    border-radius: 15px;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.left-col {
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.left-col div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-pic {
    width: 5rem;
    height: 6rem;
    object-fit: cover;
    overflow: hidden;
    transition: all 500ms ease;
}

.item-pic:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.1);
}
.right-col {
    display: flex;
    align-items: center;
}
.item-price {
    font-weight: bold;
}
.item-description {
    width: 40%;
}
.trash-bin {
    cursor: pointer;
    transition: transform 200ms ease;
}
.trash-bin:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 1200px) {
    .cart-item-wrap {
        display: flex;
    }
    .left-col {
        display: flex;
        gap: 0.5rem;
    }
    .existing-number {
        visibility: hidden;
    }
}

@media screen and (max-width: 820px) {
    .left-col {
        display: flex;
        flex-wrap: wrap;
        
    }
    .image-field {
        flex: 1;
    }
    .item-description {
        flex: 1;
    }
    .item-quantity {
        flex: 1;
    }
    .trash-bin {
        flex: 1;
    }
}

@media screen and (max-width: 690px) {
    .right-col {
        align-items: flex-end;
        margin-bottom: 1.8rem;
    }
}
@media screen and (max-width: 518px) {
    .cart-item-wrap {
        flex-direction: column;
    }
    .left-col {
        flex-wrap: wrap;
        gap: 0.5rem;
    }
    .right-col {
        align-items: flex-end;
        margin-bottom: 1.8rem;
    }
    .image-field, .item-description, .item-quantity, .trash-bin {
        flex: 1;
    }
    .item-price {
        justify-content: flex-end;
    }
    .trash-bin {
        font-size: 2rem;
    }

}