.cart-item-wrap {
    display: flex;
    border: none;
    border-radius: 15px;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.left-col {
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.left-col div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-pic {
    width: 5rem;
    height: 6rem;
    object-fit: cover;
    overflow: hidden;
    transition: all 500ms ease;
}

.item-pic:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.1);
}
.right-col {
    display: flex;
    align-items: center;
}
.item-price {
    font-weight: bold;
}
.item-description {
    width: 40%;
}
.trash-bin {
    cursor: pointer;
    transition: transform 200ms ease;
}
.trash-bin:hover {
    transform: scale(1.1);
}