.items {
    display: grid;
    width: 100%;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, 17rem);
    row-gap: 1rem;
    column-gap: 0.6rem;
}
.category-name {
    font-weight: bold; 
    font-size: 3rem;
    margin-bottom: 1rem;
}
@media screen and (max-width: 1450px) and (min-width: 1196px) {
    .items {
        grid-template-columns: repeat(5, 1fr);
    }
}
@media screen and (max-width: 1196px) and (min-width: 868px) {
    .items {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (max-width: 867px) and (min-width: 688px){
    .items {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 687px) {
    .items {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 0.5rem;
    }
    .category-name {
        font-weight: bold; 
        font-size: 2rem;
        margin-bottom: 1rem;
    }
}