.favItems-wrapper {
    box-sizing: border-box;
    max-height: 100rem;
    overflow: auto;
    width: 70%;
    margin: 0 auto;
    padding: 1rem 2rem 1rem 1rem;
    overflow-x: hidden;
}
.favItems-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    background-color: rgba(255, 166, 0, 0.091);
    border-radius: 15px;
}
.favItems-column {
    /* background-color: rgba(255, 166, 0, 0.091); */
    border-radius: 15px;
    padding: 1rem;
    
    background-color: white;
}
.title {
    font-weight: bold;
    margin-left: 1rem;
    margin-bottom: 1rem;

}
.items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 1rem;
    /* background-color: white; */
    
}
.fav-item {
    display: flex;
    width: 23%;
    gap: 2rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    background-color: white;
    border: 1px solid  rgba(255, 166, 0, 0.422);
} 
.empty {
    text-align: center;
}