.favourite-items-modal-window {
    position: absolute;
    width: 25rem;
    min-height: 5rem;
    max-height: 25rem;
    padding: 2rem 2rem 0rem 2rem;
    overflow-x: auto;
    background-color: rgb(255, 221, 159);
    top: 10rem; 
    right: 10rem;
    z-index: 9000;
    margin-top: 0.5rem;
}
.favourite-items-container {
    height: 100%;
    width: 100%;
}
.title {
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
.link {
    color: blue;
    font-weight: bold;
    text-align: center;
    opacity: 1;
    cursor: pointer;
    margin-bottom: 1rem;
    
}
.link:hover {
    color: rgb(8, 8, 191);
    opacity: 1;
}