.item {
    width: auto;
    padding: 1rem;
    background-color: white;
    border: 1px solid  rgba(255, 166, 0, 0.422);
}
.item-image {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    float: left;
    margin-right: 1rem;
    cursor: pointer;
}
.item-content {
    display: flex;
    flex-direction: column;
}
.price {
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
.item-description {
    margin-bottom: 2rem;
}
.add-to-shopping-cart-btn {
    font-size: 2rem;
    margin: 0 auto;
    cursor: pointer;
}
.add-to-shopping-cart-btn:hover, .trash-bin:hover {
    transform: scale(1.2);
}
.trash-bin {
    cursor: pointer;
    font-size: 2rem;
}
.picture-elements {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1323px) {
    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
        height: auto;
    }
    .item-content {
        display: flex;
        align-items: center;
    }
    .picture-elements{
        gap: 1rem;
    }
}
@media screen and (max-width: 500px) {
    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
        height: auto;
        padding: 0.5rem;
        gap: 1rem;
    }
    .item-content {
        display: flex;
        align-items: center;
    }
    .picture-elements{
        gap: 0.6rem;
    }
}