.header {
    box-sizing: border-box;
    width: 100%;
    background: linear-gradient(90deg, rgba(227,127,12,1) 0%, rgba(252,224,31,1) 46%, rgba(252,198,31,1) 79%);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 1003;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem 1rem 2rem 1rem;
}
.header__container {
    display: flex;
    flex-direction: column;
    max-width: 90rem;
    margin: 0 auto;
}

@media screen and (max-width: 1460px) {
    .header {
        padding-bottom: 1rem;
    }
}