.header__bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: space-between;
}
.header__nav-element {
    display: flex;
    align-items: center;
    gap: 1rem;
    order: 1;
    flex: 2;
}
.nav-element__marketplace {
    font-size: 2.5rem;
    color: white;
    font-style: none;
    text-decoration: none;
    font-weight: 500;
    transition: 500ms;
}
.nav-element__marketplace:hover {
    opacity: 1;
}

@media screen and (max-width: 1460px) {
    .nav-element__marketplace {
        display: none;
    }
    .header__bottom {
        justify-content: space-between;
        gap: 1rem;
    }
    .header__nav-element {
        display: flex;
        /* background-color: green; */
        justify-content: center;
        flex: 1;
    }
} 

