.header__pic-elements {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: baseline;
    order: 3;
    flex: 2;
    justify-content: flex-end;
}
.pic-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.98;
}
.pic-element:hover {
    opacity: 1;
}
.home-element {display: none;}
.present, .shopping-cart, .favourites, .home  {
    font-size: 2.3rem;
}
.login-logout {
    font-size: 2.5rem;
}
.link {
    text-decoration: none;
    color: white;
}
.orders {
    position: relative;
}
.orders span:first-child {
    font-size: 2.3rem;
}
.pic-element__shopping-cart, .pic-element__favourite {
    position: relative;
}
.picture-name  {
    font-size: 1rem;
    cursor: pointer;
}
.items-quantity, .favs-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    background-color: orange;
    color: white;
}
.items-quantity {
    right: -0.5rem;
}
.favs-quantity {
    right: -0.3rem;
}

@media screen and (max-width: 1460px) {
    .home-element {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home {
        font-size: 2.7rem;
        margin-top: 0.3rem;
    }
}
@media screen and (max-width: 1100px) {
    .header__pic-elements {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        background: linear-gradient(90deg, rgba(227,127,12,1) 0%, rgba(252,224,31,1) 46%, rgba(252,198,31,1) 79%);
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
    }
    .home-element {
        display: block;
    }
    .picture-name {
        display: none;
    }
    .favs-quantity {
        display: none;
    }
}

@media screen and (max-width: 343px) {
    .header__pic-elements {
        display: flex;
        justify-content: space-between;
        padding-left: 1rem;
        padding-right: 1rem;
        gap: 0.3rem;
    }
    .present, .shopping-cart, .favourites, .home, .login-logout {
        font-size: 1.5rem;
    }
    .link {
        color: white;
    }
}