.footer-wrap {
  width: 100%;
  background-color: rgb(51, 51, 51);
  padding: 3rem 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
.footer-inner {
  display: flex;
  justify-content: space-between;
  max-width: 90rem;
  margin: 0 auto;
  gap: 1rem;
}
.info-column {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 1rem;
}
.info-column li:not(:first-child) {
  cursor: pointer;
}
.info-column li:hover:not(:first-child) {
  color: orange;
}
.title {
  font-weight: bold;
  font-size: 1.2rem;
  color: rgb(164, 157, 142);
}
.qrcode {
  width: 10rem;
  height: 10rem;
}
.hotline {
  font-weight: bold;
  color: orange;
  text-decoration: none;
}
.rights-reserved {
  margin-top: 2rem;
}

@media screen and (max-width: 1323px) {
  .footer-wrap {
    padding-bottom: 5rem;
    bottom: 0;
    left: 0;
  }
}

@media screen and (max-width: 978px) {
  .footer-inner {
    display: grid;
    width: 100%;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
  }
  .info-column:first-child {
    display: none;
  }
}

@media screen and (max-width: 512px) {
    .info-column:first-child {
        display: none;
      }
    .footer-inner {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
    .info-column {
        align-items: center;
    }
    .rights-reserved {
        text-align: center;
    }
}