.main {
    width: 100%;
    background: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    padding-bottom: 7rem;
    min-height: 40rem;
}
.main-container {
    max-width: 90rem;
    margin: 0 auto;
    margin-top: 1rem;
}

@media screen and (max-width: 1780px) {
    .main-container {
        margin-top: 12rem;
    }
}

@media screen and (max-width: 1460px) {
    .main-container {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        margin-top: 7rem;
    }
}
